body {
    margin: 0;
    padding: 0;
    background-color: rgb(144, 165, 230);
}

* {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.main {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.color-selected-container {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 150px;
    width: 90%;
}

.colortext-container {
    align-items: center;
    display: flex;
    height: 100px;
    width: 1310px;
}

.custom-color-container {
    border-radius: 10px;
    margin-left: 20px;
    height: 50px;
    width: 50px;
}

canvas {
    border-radius: 10px;
    background-color: #fff;
}

.colors-container {
    width: 500px;
    height: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    flex-direction: row;
}

.colors-selection {
    border-radius: 10px;
    width: 90px;
    height: 90px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.colors-selection {
    cursor: pointer;
}

.input-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 150px;
    width: 1300px;
}

.input-container input {
    width: 90%;
}

.value-container {
    align-items: center;
    border-radius: 50px;
    background-color: rgb(48, 133, 252);
    display: flex;
    justify-content: center;
    height: 30px;
    width: 50px;
}

.value-container p {
    font-size: 25px;
    font-weight: bold;
}

.delete-container {
    border-radius: 10px;
    background-color: red;
    display: flex;
    justify-content: center;
    color: wheat;
    height: 50px;
    width: 150px;
}

.delete-container:hover {
    cursor: pointer;
}

/* 1425 pixeles medida de una laptop de 13 pulgadas */
@media(max-width: 1425px) {

}
